<span mat-dialog-title>{{mode}} Publisher</span>
<form [formGroup]="publisherForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-dialog-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Publisher Name</mat-label>
                    <input matInput formControlName="publisherName">
                    @if (publisherForm.controls['publisherName'].hasError('required')) {
                    <mat-error>Publisher Name is <strong>required</strong></mat-error>
                    }
                    @if (publisherForm.controls['publisherName'].hasError('maxlength')) {
                    <mat-error>Publisher Name can't have more than <strong>150 characters.</strong></mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
        @if(errorMessages.length > 0){
        <div class="row">
            <div class="col">
                <ul>
                    @for(errorMessage of errorMessages; track $index){
                    <li>
                        <mat-error>{{errorMessage}}</mat-error>
                    </li>
                    }
                </ul>

            </div>
        </div>
        }
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onCancel()" type="button">Cancel</button>
        <button mat-button cdkFocusInitial type="submit">Save</button>
    </mat-dialog-actions>
</form>